<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/NSRP_CATER?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
    		<!-- Mapping resources -->
    <mapping resource="com/daisyit/db/Appvar.hbm.xml"/>
    <mapping resource="com/daisyit/db/Stations.hbm.xml"/>
    <mapping resource="com/daisyit/db/Allcode.hbm.xml"/>
    <mapping resource="com/daisyit/db/Sysvar.hbm.xml"/>
    <mapping resource="com/daisyit/db/Mercprop.hbm.xml"/>
    <mapping resource="com/daisyit/db/Catering.hbm.xml"/>
    <mapping resource="com/daisyit/db/Staff.hbm.xml"/>
    <mapping resource="com/daisyit/db/Deptlist.hbm.xml"/>
    <mapping resource="com/daisyit/db/Users.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
